
<h3>添加留言</h3>
<form method="post" action="/messageEdit/add">
    <input type="hidden" name="id" >
    名字:&nbsp;&nbsp;<input name="username" type="text" ><br/><br/>
    留言:&nbsp;&nbsp;<textarea name="content"></textarea><br/><br/>
    <input type="submit" value="添加"/>
</form>
